1-RAG Pipeline & Chatbot/1-RAG Pipeline & Chatbot.json
{
  "name": "RAG Pipeline & Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "12yPvKrgWSxdQ9ta0BViIcFsUPy_jz41M",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12yPvKrgWSxdQ9ta0BViIcFsUPy_jz41M"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        576
      ],
      "id": "5eb2dcc2-a5c8-4fdb-be4c-f8fdc4ee0e3d",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2RxPKhnX50dhsVBR",
          "name": "Google Drive account (doyekartik03@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        576
      ],
      "id": "ca7bc21e-25b1-4833-bdb9-83e411a75e87",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2RxPKhnX50dhsVBR",
          "name": "Google Drive account (doyekartik03@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-learning",
          "mode": "list",
          "cachedResultName": "n8n-learning"
        },
        "options": {
          "pineconeNamespace": "n8n learn"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        576
      ],
      "id": "12b0a147-37c7-482a-ace3-940e940ce30a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "aUOanRy08GzLPY02",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        800
      ],
      "id": "a955ec7f-366f-4b5f-8b7e-f7b26389010d",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "vqpTalDAtti2mHLb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        800
      ],
      "id": "293e0c87-29da-4300-9497-e047dd18053a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        1008
      ],
      "id": "bbe484ac-2e2d-4fef-8c82-f2e0fb7530ca",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1056,
        576
      ],
      "id": "f01948cb-85db-4faf-81d9-bea54ee89745",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        864,
        576
      ],
      "id": "a080047a-1567-49bb-aeb5-a75f09e05efb",
      "name": "When chat message received",
      "webhookId": "c5f03eaa-bfb4-43b8-80bc-c856134d1c64"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1040,
        800
      ],
      "id": "69a06aa4-b29d-42a1-a870-c9eee69f38f4",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "L5qRQdK2qLxJdIIC",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool for the access and for learn \n",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-learning",
          "mode": "list",
          "cachedResultName": "n8n-learning"
        },
        "options": {
          "pineconeNamespace": "n8n learn"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1168,
        880
      ],
      "id": "d2699cfb-f41e-47eb-b2d2-e71068fc80cd",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "aUOanRy08GzLPY02",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1184,
        1072
      ],
      "id": "9529a720-cf3a-4ad0-9e31-13c3f232b0a0",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "vqpTalDAtti2mHLb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "831dfb67-9626-4eed-b559-58646e1f79f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3dd74a46457ac12a1c890381ca6be7c790e4304199dbcf643bd82cfe0d3f6893"
  },
  "id": "yG10Q8BU0RXoqdSV",
  "tags": []
}